<div class="effect-shine opening" id="about-me-opening-shine">
    <div id="about-me-opening">
        <div id="about-me-opening-bg"></div>
        <div id="about-me-welcome-1">
            {{{welcome-1}}}
        </div>
        <div id="about-me-welcome-2">
            {{{welcome}}}
        </div>
        <div id="about-me-welcome-3">
            {{{welcome-3}}}
        </div>
        <div id="about-me-welcome-4">
            <span class="about-me-slogan">{{{slogans.[0]}}}</span>
            <span
                    class="about-me-slogan about-me-slogan-active">{{{slogans.[1]}}}</span>
        </div>
    </div>
</div>

<div class="layout-content-text">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{> download-resume}}
            <div class="panel-title">
                <i class="{{p3x-default.icons.ICON_ABOUT_ME}}"></i>
                {{{content-title}}}
            </div>
        </div>
        {{{content}}}
        <div class="panel-footer"></div>
    </div>
</div>
