{{#if download-resume.secondary }}
    <div id="download-resume-secondary" class="pull-right">
        <a target="_blank" href="{{download-resume.url}}" class="patrikx3-tooltip" id="download-resume-secondary-button" data-toggle="tooltip" data-placement="top" title="{{p3x-language 'layout' 'download-resume'}}">
            <span class="{{p3x-default.icons.ICON_PDF}}" style="margin-right: 5px;" aria-hidden="true"></span><span id="download-resume-secondary-text">{{p3x-language 'layout' 'download-resume'}}</span>
        </a>
    </div>
{{else}}
    <div id="download-resume">
        <a href="{{download-resume.url}}" target="_blank" class="btn btn-danger">
            <i class="{{p3x-default.icons.ICON_PDF}}" aria-hidden="true"></i>
            {{p3x-language 'layout' 'download-resume'}}
        </a>
    </div>
{{/if}}

