<div id="social-container-wrap">

    <span class="social-container">
        <a class="social-tooltip" id="{{ social_phone }}" data-html="true" data-toggle="tooltip"
           data-placement="{{ tooltip_placement }}"
           title="{{ p3x-language 'layout' 'social-phone' }} <br/> {{ p3x-default.phone }}"
           href="javascript:void(0);"><i class="{{ p3x-default.icons.ICON_PHONE }}"></i></a>
    </span>

    <span class="social-tooltip st-multi-color st-icon-circle">
        <a id="{{ social_email }}" href="" class="st-icon-gmail-alt" data-toggle="tooltip"
           data-placement="{{ tooltip_placement }}" title="E-mail">
            <span></span>
        </a>
    </span>
    {{{ slot-email }}}

    <span class="social-tooltip st-multi-color st-icon-circle">
        <a id="social-facebook-{{ id }}" target="_blank" href="http://www.facebook.com/patrikx3/"
           class="st-icon-facebook" data-toggle="tooltip" data-placement="{{ tooltip_placement }}" title="Facebook">
            <span></span>
        </a>
    </span>

    <span class="social-tooltip st-multi-color st-icon-circle">
        <a id="social-twitter-{{ id }}" target="_blank" href="http://www.twitter.com/patrikx3/" class="st-icon-twitter"
           data-toggle="tooltip" data-placement="{{ tooltip_placement }}" title="Twitter">
            <span></span>
        </a>
    </span>

    <span class="social-tooltip st-multi-color st-icon-circle">
        <a id="social-instagram-{{ id }}" target="_blank" href="http://www.instagram.com/patrikx3/"
           class="st-icon-instagram" data-toggle="tooltip" data-placement="{{ tooltip_placement }}" title="Instagram">
            <span></span>
        </a>
    </span>

    <span class="social-tooltip st-multi-color st-icon-circle">
        <a id="social-youtube-{{ id }}" target="_blank" href="http://www.youtube.com/patrikx3/"
           class="st-icon-youtube-alt" data-toggle="tooltip" data-placement="{{ tooltip_placement }}" title="Youtube">
            <span></span>
        </a>
    </span>

    {{!--
    <span class="social-tooltip st-multi-color st-icon-circle">
        <a id="social-linkedin-{{ id }}" target="_blank" href="http://www.linkedin.com/in/patrikx3/" class="st-icon-linkedin" data-toggle="tooltip" data-placement="{{ tooltip_placement }}" title="LinkedIn">
            <span></span>
        </a>
    </span>
    --}}

    <span class="social-tooltip st-multi-color st-icon-circle">
        <a id="social-github-{{ id }}" target="_blank" href="http://www.github.com/patrikx3/" class="st-icon-github"
           data-toggle="tooltip" data-placement="{{ tooltip_placement }}" title="GitHub">
            <span></span>
        </a>
    </span>

    <span class="st-multi-color st-icon-circle social-tooltip">
        <a id="social-wordpress-{{ id }}" class="st-icon-wordpress" target="_blank" href="http://blog.patrikx3.com"
           data-toggle="tooltip" data-placement="{{ tooltip_placement }}" title="WordPress">
            <span></span>
        </a>
    </span>

    <span class="social-tooltip st-multi-color st-icon-circle">
        <a id="{{ social_skype }}" class="st-icon-skype" href="javascript:void(0);" data-html="true"
           data-toggle="tooltip" data-placement="{{ tooltip_placement }}" title="Skype <br/> nanoneuron">
            <span></span>
        </a>
    </span>

    <span id="social-container-pdf" class="social-container">
        <a class="social-tooltip" id="social-pdf-{{ id }}" data-toggle="tooltip"
           data-placement="{{ tooltip_placement }}" title="{{ p3x-language 'layout' 'download-resume' }}"
           target="_blank" href="{{ resume-download-url }}"><i class="{{ p3x-default.icons.ICON_PDF }}"></i></a>
    </span>

</div>

<script id="data-slot-social" type="application/json">{{{ p3x-json social-data }}}</script>

